<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Open7x0Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Open7x0Client.Properties.Settings>
      <setting name="ftpUsername" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value>l1nux</value>
      </setting>
      <setting name="serveradress" serializeAs="String">
        <value>192.168.1.4</value>
      </setting>
      <setting name="mencoder4to3Parameter" serializeAs="String">
        <value>-vf dsize=4/3,scale=-10:-1,harddup -of lavf -lavfopts format=mp4 -ovc x264 -sws 9 -x264encopts nocabac:level_idc=30:bframes=0:bitrate=512:threads=auto:turbo=1:global_header:threads=auto</value>
      </setting>
      <setting name="mencoder16to9Parameter" serializeAs="String">
        <value>-vf yadif,dsize=16/9,scale=-10:-1,harddup -of lavf -lavfopts format=mp4 -ovc x264 -sws 9 -x264encopts nocabac:level_idc=30:bframes=0:bitrate=900:threads=auto:turbo=1:global_header:threads=auto</value>
      </setting>
      <setting name="mencoderStereoParameter" serializeAs="String">
        <value>-oac faac -faacopts mpeg=4:object=2:raw:br=128</value>
      </setting>
      <setting name="mencoderSurroundParameter" serializeAs="String">
        <value>-oac faac -faacopts mpeg=4:object=2:raw:br=256 -channels 6 -aid 128</value>
      </setting>
      <setting name="vlcParameters" serializeAs="String">
        <value>--deinterlace=-1 --deinterlace-mode=x --play-and-exit --video-on-top</value>
      </setting>
      <setting name="vlcPath" serializeAs="String">
        <value>"C:\Program Files (x86)\VideoLAN\VLC\vlc.exe"</value>
      </setting>
      <setting name="localWorkingDirectory" serializeAs="String">
        <value>C:\TestDaten</value>
      </setting>
      <setting name="remoteVideoRoot" serializeAs="String">
        <value>/var/media/disk-volume-0/video</value>
      </setting>
      <setting name="DeleteOnEncoded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mencoderOutputFileExtension" serializeAs="String">
        <value>.mp4</value>
      </setting>
      <setting name="mencoderOutputFilename" serializeAs="String">
        <value>%title% %eventID% %shortDescription% %autoIncrement%</value>
      </setting>
      <setting name="OverwriteExistingOutputfile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncodeDolbyDigitalStreamWithSurroundSettings"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShutdownAfterEncodingFinished" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseFtp" serializeAs="String">
        <value>False</value>
      </setting>
    </Open7x0Client.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>